:root {
  --main-color1: #f8f4eb;
  --main-color2: #efe6e6;
  --main-color3: #dfcccc;
  --main-color4: #5e0000;
  --main-color5: #ffe1e0;
  --main-color6: #ffa6a3;
  --main-color7: #ff6b66;
  --main-color8: #ffcd5b;
  --main-color9: #ffc132;
}

.display-container {
  background-color: var(--main-color3);
  background-color: blue;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  width: 100%;
  gap: 43px;
  border-radius: 8px;
}
/* display */
.display-navbar {
  width: 100%;
  display: flex;
  padding-top: 12px;
  justify-content: center;
}

.nav-display-navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
